<main id="wrapper" class="oneColumnAndMenu code">
  <nav class="browser" data-bind="memoScroll: 'codeMenu'">
    <header>
      <h1>Browse Code</h1>
    </header>
  </nav>
  <!-- ko ifnot: visible -->
  <article class="intro typo">
    <div class="description">
      <h1>Your app's code</h1>
      <p>Here is the code for your application. You can browse, read and edit it right in Activator or choose to open the poject in your favorite IDE / Text editor.</p>
      <p class="openIn">
        <button class="button">Reveal folder</button>
        <button class="button">Open in Eclipse</button>
        <button class="button">Open in Idea</button>
      </p>
    </div>
  </article>
  <!-- /ko -->
  <!-- ko if: visible -->
  <div class="editorWrapper">
    <header>
      <ul class="tabs" data-bind="foreach: openedDocuments">
        <li data-bind="css: {active: active}, click: $root.openFile">
          <button class="close" data-bind="click: $root.closeFile"></button>
          <span data-bind="text: title"></span>
        </li>
      </ul>
    </header>
    <!-- ko with: selectedDocument -->
    <footer>
      <span data-bind="text: location"></span>
      <span>Bright theme</span>
      <span>Small font</span>
      <span>2 spaces indentation</span>
    </footer>
    <div class="editor">
      <pre>{
  "title": "README",
  "location": "/app/controllers/README",
  "undo": []
}
      </pre>
    </div>
    <!-- /ko -->
  </div>
  <!-- /ko -->
</main>
