<main id="wrapper" class="oneColumn deploy">
  <article class="intro typo">
    <div class="description">
      <h1>Choose a deployment option</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vitae lorem at neque mollis viverra eu eu tortor. Vivamus at viverra risus. Quisque scelerisque felis purus, a tempor elit vulputate tempor. Sed pharetra condimentum elementum.</p>
      <h3>Local build</h3>
      <ul>
        <li class="local">Publish local</li>
        <li class="zip">Publish a ZIP</li>
      </ul>
      <h3>Cloud providers</h3>
      <ul>
        <li class="cloudBees">CloudBees</li>
        <li class="heroku">Heroku</li>
        <li class="googleGCE">Google GCE</li>
        <li class="amazon">Amazon</li>
        <li class="cleverCloud">Clever Cloud</li>
      </ul>
    </div>
  </article>
</main>