<div class="fileTree open">
  <!-- ko with: tree -->
  <ul data-bind="template: { name: 'fileBrowserTpl', foreach: $data, as: 'item', afterRender: $root.setFocus }">
  </ul>
  <!-- /ko -->
</div>
<tpl id="fileBrowserTpl">
    <!-- ko if:item.isDirectory -->
    <li class="directory" data-bind="css: {open: item.opened}">
      <a class="name" data-bind="text: item.name, click: $root.toggleDir, putLocation: item"></a>
      <!-- ko if: item.children && item.children.length -->
      <ul data-bind="template: { name: 'fileBrowserTpl', foreach: item.children, as: 'item' }">
      </ul>
      <!-- /ko -->
    </li>
    <!-- /ko -->
    <!-- ko ifnot: item.isDirectory -->
    <li class="file"><a class="name" data-bind="text: item.name, click: $root.openFile, putLocation: item"></a></li>
    <!-- /ko -->
</tpl>
