<header id="header">
  <button class="toggleNavigation" data-bind="click: layoutManager.navigationToggle"></button>

  <dl id="layoutManager" class="dropdown" data-bind="click: layoutManager.closePannelOptions">
    <dt data-bind="click: layoutManager.pannelToggle">
      <span class="all-options"  data-bind="click: layoutManager.openPannelOptions"></span>
    </dt>
    <dd data-bind="click: layoutManager.pannelChange">
      <button class="right1"></button>
      <button class="bottom1"></button>
    </dd>
  </dl>

  <div id="omnisearch" data-bind="css: {busy: omnisearch.busy()}">
    <input type="text" name="keywords" placeholder="Type keywords or a command" autocomplete="off" data-bind="value: omnisearch.searchString, valueUpdate: 'keyup', event: {keyup: omnisearch.onKeyUp.bind(omnisearch), blur: omnisearch.onBlur.bind(omnisearch)}">
    <ul data-bind="css: {active: omnisearch.active()}, foreach: omnisearch.options">
      <li data-bind="click: $parent.omnisearch.onOptionSelected.bind($parent.omnisearch), css: {selected: $index() == $parent.omnisearch.selected()}">
        <span class="type" data-bind="text: type"></span>
        <span class="title" data-bind="text: title"></span>
        <span class="subtitle" data-bind="text: subtitle"></span>
      </li>
    </ul>
  </div>


  <div id="breadcrumb" data-bind="foreach: breadcrumb">
    <a data-bind="href:'#'+$data[0], html:$data[1]"></a>
  </div>

  <dl id="notifications" class="dropdown">
    <dt><span>0</span></dt>
    <dd>
      <a href="/">Notification</a>
      <a href="/">Notification</a>
      <a href="/">Notification</a>
    </dd>
  </dl>
</header>