<main id="wrapper" class="oneColumnAndMenu  inspect">
  <nav class="menu" data-bind="memoScroll: 'inspectMenu'">
    <header>
      <h1>Inspect</h1>
    </header>
    <div class="options">
      <div><span class="status"></span>Enable the inspector</div>
      <p>Inspector is disabled</p>
    </div>
    <ul class="list links" data-bind="foreach: links">
      <li data-bind="class: $data.id"><a data-bind="href:'#inspect/'+$data.id, text: $data.title"></a></li>
    </ul>
  </nav>
  <!-- ko ifnot: page-->
    <article class="intro typo" style="top:123px">
      <div class="description">
        <h1>Welcome to the inspector</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vitae lorem at neque mollis viverra eu eu tortor. Vivamus at viverra risus. Quisque scelerisque felis purus, a tempor elit vulputate tempor. Sed pharetra condimentum elementum.</p>
      </div>
    </article>
  <!-- /ko -->
  <!-- ko if: page -->
    <article class="page">
      <header>
        <h1>Welcome to the inspector</h1>
      </header>
      <section>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vitae lorem at neque mollis viverra eu eu tortor. Vivamus at viverra risus. Quisque scelerisque felis purus, a tempor elit vulputate tempor. Sed pharetra condimentum elementum. Aliquam lobortis, metus ut luctus commodo, neque justo cursus diam, eu semper augue dui a erat. Praesent eget augue dignissim, aliquet erat lobortis, feugiat dui.</p>
      </section>
    </article>
  <!-- /ko -->
</main>
