<main id="wrapper" class="oneColumnAndMenu monitor">
  <nav class="menu" data-bind="memoScroll: 'inspectMenu'">
    <header>
      <h1>Monitor</h1>
    </header>
    <ul class="list links" data-bind="foreach: providers">
      <li data-bind="class: $data.id"><a data-bind="href:'#monitor/'+$data.id, text: $data.title"></a></li>
    </ul>
  </nav>
  <!-- ko ifnot: page -->
    <article class="intro typo">
      <div class="description">
        <h1>Monitor your production</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vitae lorem at neque mollis viverra eu eu tortor. Vivamus at viverra risus. Quisque scelerisque felis purus, a tempor elit vulputate tempor. Sed pharetra condimentum elementum.</p>
      </div>
    </article>
  <!-- /ko -->
  <!-- ko if: page -->
    <article class="page">
      <header>
        <h1>Provider name</h1>
      </header>
      <section>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vitae lorem at neque mollis viverra eu eu tortor. Vivamus at viverra risus. Quisque scelerisque felis purus, a tempor elit vulputate tempor. Sed pharetra condimentum elementum. Aliquam lobortis, metus ut luctus commodo, neque justo cursus diam, eu semper augue dui a erat. Praesent eget augue dignissim, aliquet erat lobortis, feugiat dui.</p>
      </section>
    </article>
  <!-- /ko -->
</main>
