<main id="wrapper" class="oneColumnAndMenu test">
  <nav class="menu" data-bind="memoScroll: 'testMenu'">
    <header>
      <h1>Test</h1>
    </header>
    <div class="options">
      <div><span class="status"></span>Testing</div>
      <p>Waiting for build</p>
    </div>
    <ul class="list">
      <li>
        <div class="switch active">
          <div class="inner"></div>
        </div>
        Autotest
      </li>
      <li>
        <h4>PROJECTS</h4>
        <label style="display: block;padding: 6px 0 0;">
          <input type="checkbox" checked />
          Main
          </label>
        <label style="display: block;padding: 6px 0 0;">
          <input type="checkbox" checked />
          Commons
          </label>
        <label style="display: block;padding: 6px 0 0;">
          <input type="checkbox" checked />
          UI
          </label>
      </li>
    </ul>
  </nav>
  <article class="test">
    <header>
      <h1>Test suite</h1>
      <nav>
        <div class="group">
          <span>Clear</span>
        </div>
      </nav>
    </header>
    <section>
      <ul class="suite" data-bind="foreach: suite">
        <li data-bind="css: {disabled: !enabled()}, attr: {'data-status':status}">
          <label>
            <input type="checkbox" data-bind="checked: enabled"/>
             <!-- ko text: title --><!-- /ko -->
          </label>
        </li>
      </ul>
    </section>
  </article>
</main>
