<main id="wrapper" class="oneColumnAndMenu tutorial">
  <nav class="menu" data-bind="memoScroll: 'tutorialMenu'">
    <header>
      <h1>Tutorial</h1>
    </header>
    <div class="list links">
      <ul>
        <li><a href="#tutorial/0">Source code</a></li>
        <li><a href="#tutorial/1">Define our Messages</a></li>
        <li><a href="#tutorial/2">Define our Actor</a></li>
        <li><a href="#tutorial/3">Create our Actor</a></li>
        <li><a href="#tutorial/4">Tell the Actor (to do something)</a></li>
        <li><a href="#tutorial/5">Replying to an Actor</a></li>
        <li><a href="#tutorial/6">Using Inbox</a></li>
        <li><a href="#tutorial/7">Test the App</a></li>
        <li><a href="#tutorial/8">Run the App</a></li>
        <li><a href="#tutorial/9">Typesafe Console</a></li>
        <li><a href="#tutorial/10">Next Steps</a></li>
      </ul>
    </div>
  </nav>
  <!-- ko ifnot: page -->
    <article class="intro typo">
      <div class="description">
        <h1>Tutorial Name</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras vitae lorem at neque mollis viverra eu eu tortor. Vivamus at viverra risus. Quisque scelerisque felis purus, a tempor elit vulputate tempor. Sed pharetra condimentum elementum. Aliquam lobortis, metus ut luctus commodo, neque justo cursus diam, eu semper augue dui a erat. Praesent eget augue dignissim, aliquet erat lobortis, feugiat dui.</p>
        <p class="author"><cite>by John Does (<a href="//twitter.com/johndoe">@@johndoe</a>) - </cite><a class="source" href="http://github.com/johndoe/activator-akka-spray">http://github.com/johndoe/activator-akka-spray</a></p>
      </div>
      <div class="training">
        <a href="http://partner.com"><img src="http://dommkopfq6m1m.cloudfront.net/assets/1387589794721/images/partners/svcs/chariot.png"></a>
        <h3>Typesafe Training Partner</h3>
        <p>Maecenas lorem arcu, tristique ut accumsan ac, ultricies non nulla. Pellentesque adipiscing venenatis risus at faucibus. In vehicula fermentum enim et placerat.</p>
      </div>
    </article>
  <!-- /ko -->
  <!-- ko if: page -->
    <article class="page">
      <header>
        <h1 data-bind="text: page().title"></h1>
      </header>
      <section class="typo" data-bind="html: page().page"></section>
    </article>
  <!-- /ko -->
</main>
