// ----------------
// LAYOUT
// ----------------

// Defaults
#main {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#wrapper {
  position: fixed;
  top: 50px;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  -webkit-perspective: 2000;
  .transition();
}

#header {
  left: 0;
  right: 0;
  .transition();
}

#panels {
  position: fixed;
  bottom: 0;
  right: 0;
  display: none;
}

#navigation {
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  transform: translateX(-100%);
  .transition();
}

// Navigation opened
body.navigationOpened {
  #header, #wrapper {
    left: @drawer-width;
  }
  #navigation {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0);
  }
}
body.navigationSneak {
  #navigation {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    transform: translateX(0);
  }
}

// Panel opened
body.panelOpened {
  #panels {
    display: block;
  }
  &[data-shape='right1'],
  &[data-shape='right2'] {
    #header, #wrapper {
      right: @panel-width;
    }
    #panels {
      top: 0;
      width: @panel-width;
    }
    main {
      left: @panel-width;
    }
  }
  &[data-shape='bottom1'],
  &[data-shape='bottom2'] {
    #panels {
      height: @panel-width;
      left: 0;
    }
    &.navigationOpened {
      #panels {
        left: @drawer-width;
      }
    }
    main {
      bottom: @panel-width;
    }
  }
}


.modal {
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}


.oneColumn {
  > div, > section {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 1px;
  }
}

.oneColumnAndMenu {
  > nav {
    width: @menu-width;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
  }
  > div, > section {
    position: absolute;
    top: 0;
    left: @menu-width;
    bottom: 0;
    right: 1px;
  }
}

#wrapper {
  header {
    h1 {
      font-size: 22px;
    }
  }
  section {
    background: #fff;
    header {
      padding: 0 20px;
      background: @blue;
      color: #fff;
      line-height: 60px;
      nav {
        position: absolute;
        top: 0;
        right: 20px;
        .group {
          float: left;
          margin-left: 10px;
        }
        span {
          padding: 3px 13px;
          border: 1px solid #fff;
          border-left-width: 0;
          &:first-child {
            border-left-width: 1px;
            border-radius: 2px 0 0 2px;
          }
          &:last-child {
            border-radius: 0 2px 2px 0;
          }
          &:only-child {
            border-radius: 2px;
          }
        }
      }
    }
  }
}





